<div class="subsection-0 text-2 color-b">
  <p class="mp-0"><b>
    Seleccione 'PREDIO' y 'PERIODO'
  </b></p>
</div>

<div class="subsection-1">
  <div class="columna-2">
    <div class="cont-2">
      <div class="flexy">
        <div class="text-center-v">
          <p class="text-1 tab-1 mp-0"><b>
            Predio
          </b></p>
        </div>
        <div>
          <div class="envoltura" [ngClass]="{'active': isActivePredios}">
            <div class="select-btn" (click)="toggleActivePredios()">
              <span>{{selectedItemPredios}}</span>
              <i class="uil uil-angle-down"></i>
            </div>
            <div class="combobox-recuadro">
              <div class="buscar">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Buscar Predio" [(ngModel)]="searchValuePredios"
                  (keyup)="filterItemsPredios()">
                <span class="buscador-cerrar" (click)="closeComboboxPredios()">&times;</span>
              </div>
              <ul class="opciones">
                <li *ngFor="let item of filteredItemsPredios" (click)="selectItemPredios(item)"
                  [ngClass]="{'selected': item === selectedItemPredios}">
                  {{item}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flexy">
        <div class="text-center-v">
          <p class="text-1 tab-1 mp-0"><b>
            Periodo cuota
          </b></p>
        </div>
        <div>
          <div class="envoltura1" [ngClass]="{'active': isActiveMeses}">
            <div class="combobox-cuerpo1" (click)="toggleActiveMeses()">
              <span>{{selectedItemMeses}}</span>
              <i class="uil uil-angle-down"></i>
            </div>
            <div class="combobox-recuadro1">
              <div class="buscar">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Periodo de la cuota" [(ngModel)]="searchValueMeses"
                  (keyup)="filterItemsMeses()">
                <span class="buscador-cerrar" (click)="closeComboboxMeses()">&times;</span>
              </div>
              <ul class="opciones1">
                <li *ngFor="let item of filteredItemsMeses" (click)="selectItemMeses(item)"
                  [ngClass]="{'selected': item === selectedItemMeses}">
                  {{item}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flexy">
        <div class="text-center-v" style="height: 50px;">
          <p class="text-1 tab-1 mp-0"><b>
            Responsable predio
          </b></p>
        </div>
        <div class="text-center-v" style="height: 50px; width: 65%;">
          <p style="margin: 0 0 0 10px;">
            {{presidente}}
          </p>
        </div>
      </div>
    </div>
    <div class="cont-2">
      <div class="flexy">
        <div style="width: 200px;"></div>
        <div style="display: flex; height: 36px; margin-top: 10px;align-items: center;">
          <p class="text-1 mp-0"><b>
            Acciones
          </b></p>
        </div>
      </div>
      <div class="flexy">
        <div style="width: 200px;"></div>
        <div class="tab-1" style="display: flex; height: 60px; align-items: center;">
          <div class="col d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" (click)="cambiarEstadoRegistroPredio(true)"
                    style="width: 250px; height: 40px;">Registrar gastos de predio</button>
          </div>
          <div style="margin-left: 20px;">
            <i class="uil uil-exclamation-triangle" style="font-size: 35px; color: #FFD700;"></i>
          </div>
        </div>
      </div>
      <div class="flexy">
        <div style="width: 200px;"></div>
        <div class="tab-1" style="display: flex; height: 60px; align-items: center;">
          <div class="col d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" (click)="cambiarEstadoRegistroCasa(true)"
            style="width: 250px; height: 40px;">
              Registrar gastos de casa</button>
          </div>
          <div style="margin-left: 20px;">
            <i class="uil uil-exclamation-triangle" style="font-size: 35px; color: crimson;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="subsection-0 text-2 color-b">
  <p class="mp-0"><b>
    Resumen
  </b></p>
</div>

<div class="subsection-1">
  <div style="display: flex; align-items: center; justify-content: center;">
    <div class="contenedor-tabla" style="margin: 20px;">
      <div class="tabla-principal" style="margin: 0; padding: 0;">
        <table>
          <thead>
            <tr>
              <th>Nro. Casa/habitación</th>
              <th>Bloque</th>
              <th>Propietario</th>
              <th>Categoría</th>
              <th>Área casa(m2)</th>
              <th>Cochera1(m2)</th>
              <th>Área total</th>
              <th>% Participación</th>
              <th>Estado</th> <!-- Nueva columna -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of datosTabla">
              <td>{{ dato.nroCasa }}</td>
              <td>{{ dato.bloque }}</td>
              <td>{{ dato.propietario }}</td>
              <td>{{ dato.categoria }}</td>
              <td>{{ dato.areaCasa }}</td>
              <td>{{ dato.cochera1 }}</td>
              <td>{{ dato.areaTotal }}</td>
              <td>{{ dato.participacion }}</td>
              <td>
                <div class="cuadrado-registro-casa" [style.backgroundColor]="cuadradoColor"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





<div *ngIf="mostrarRegistrarGPredios">
  <app-registrar-gasto-predio (mostrarRegistroPredio)="cambiarEstadoRegistroPredio($event)"
  (estadoRegistroPredio)="finalizarRegistroPredio()"
  ></app-registrar-gasto-predio>
</div>
<div *ngIf="mostrarRegistrarGCasa">
  <app-registrar-gasto-casa (mostrarRegistroCasa)="cambiarEstadoRegistroPredio($event)">
  </app-registrar-gasto-casa>
</div>
