<div class="seccion-principal-fondo">
  <div class="seccion-registrarpredio-borde">
    <div class="col">
      <div class="row">
        <div class="row" style="height: 60vh;">
          <div class="col" style="width: 33%;">
            COLUMN1</div>
          <div class="col" style="width: 33%;">
            COLUMN2</div>
          <div class="col" style="width: 33%;">
            COLUMN3</div>
        </div>
        <div class="row" style="height: 10vh;">
          BOTONES
        </div>
      </div>
    </div>
  </div>
</div>